<!DOCTYPE html>
<html lang="en">
    <head >
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body ng-app="Demo">

        <div ng-controller="DemoCtrl as vm">
            <button ng-click="vm.nextMonth()">Next Month</button>
            <button ng-click="vm.previousMonth()">Previous Month</button>

            {{ vm.calendar | json}}
        </div>

        <script src="angular/angular.js"></script>
        <script src="moment/moment.js"></script>
        <script src="moment-calendar-2.js"></script>
        <script src="app.js"></script>

    </body>
</html>